<!doctype html>
<html lang="en" th:fragment="layout(content)">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <link rel="icon" type="image/x-icon" th:href="@{/Images/favicon.png}">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-pm navbar-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/user/dashboard}">Smart Contact</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/user/dashboard}">
                            <i class="fas fa-home me-2"></i><span>Home</span>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">About</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fa-regular fa-user me-1"></i><span th:text="${user.name}"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/logout}" href="#">
                            <i class="fas fa-sign-out-alt me-2"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- body -->

    <div class="body">
        <!-- sidebar -->
        <div class="sidebar">
            <span onclick="toggleSidebar()" class="cross">&times;</span>
            <a id="home-link" th:href="@{/user/dashboard}" class=" item mt-3"><i class="fas fa-home me-2"></i>Home</a>
            <a id="showContact-link" th:href="@{/user/show-contacts/0}" class=" item"><i class="fas fa-id-card-alt me-2"></i>View Contacts</a>
            <a id="addContact-link" th:href="@{/user/add-contactForm}" class=" item"><i class="fas fa-pencil-alt me-2"></i>Add Contacts</a>
            <a id="profile-link"th:href="@{/user/your-profile}" class=" item"><i class="fas fa-user-circle me-2"></i>Your Profile</a>
            <a id="setting-link" th:href="@{/user/setting}" class=" item"><i class="fas fa-cogs me-2"></i>Settings</a>
            <a th:href="@{/logout}" class=" item"><i class="fas fa-sign-out-alt me-2"></i>Logout</a>
            <div class="divider"></div>
        </div>



        <!-- content -->
        <div class="content">
            <i onclick="toggleSidebar()" class="fas fa-bars m-2"></i>

            <div th:if="${session.message}" class="container">
                <div class="alert text-center" th:classappend="${'alert-'+session.message.type}">
                    <span th:text="${session.message.content}"></span>
                </div>
            </div>
            <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>

            <div th:replace="${content}"></div>

        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/myjs.js}"></script>
</body>

</html>