body {
  background-color: #e2e2e2;
}

.bg-pm {
  background-color: #009688;
}

.hover:hover {
  color: white;
  background-color: #027148;
}

.banner {
  width: 100%;
  height: 92vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../Images/banner.png);
  background-size: cover;
  color: white;
}

.register {
  background-color: #fff;
}

/* body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
} */
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 330px;
  /* border: 1px solid #9C9C9C; */
  background-color: #009688;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}

.sidebar {
  width: 15%;
  background-color: white;
  height: 100%;
  position: fixed;
  padding-top: 40px;
  z-index: 99999999;
}
.sidebar a {
  display: block;
  width: 100%;
  padding: 10px 25px;
  text-decoration: none;
  color: grey;
}

.sidebar a:hover {
  color: white;
  background-color: #009688;
}

.sidebar .cross {
  position: absolute;
  top: 0;
  right: 35px;
  font-size: 36px;
  cursor: pointer;
}

.sidebar .divider {
  margin-top: 7px;
  height: 0.5px;
  width: 100%;
  background-color: #e2e2e2;
}
.content {
  margin-left: 18%;
}

.contact-img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.profile_image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.search-container {
  position: relative;
}
.search-result {
  position: absolute;
  background-color: white;
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  display: none;
}
.search a:hover {
  color: white;
  background-color: #009688;
}

@media only screen and (max-width: 920px) {
  .sidebar {
    display: none;
    width: 80% !important;
    background-color: white;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
  }

  .content {
    margin-left: 0% !important;
  }
}
