<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" style="height: 200px;" class="col-md-12">

                            <form id="login-form" class="form" method="post" th:action="@{/change-password}">
                                <h3 class="text-center text-white">Change Password</h3>
                                <div class="form-group mb-2">
                                    <label for="password" class="text-white">Enter New Password</label><br>
                                    <input name="password" id="password" type="password" class="form-control" required>
                                </div>
                                <div class="form-group mt-2 text-center">
                                    <input type="submit" name="submit" class="btn btn-md bg-light"
                                        value="Change Password">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>