<!DOCTYPE html>
<html lang="en" th:replace="base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center m-4">
            <h1 class="font-weight-bold">Smart Contact</h1>
            <p>Start Collecting your contacts in very smatter way.We provide very efficient and smarter way of handling contacts</p>
            <a class="btn bg-pm btn-lg text-white hover" th:href="@{/signin}">Get Started</a>
        </div>
        
    </section>
</body>

</html>